.App{
  padding : 30px;
  text-align: center;
  display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="text"]{
  padding:10px;
  border:none;
  outline: none;
  border-bottom : 1px solid rgb(175, 170, 170);
  width: 50%;
  font-size:18px;
  font-weight: bold;
}

input[type="text"]:focus{
  border-bottom:2px solid rgb(16 130 195);
}


ul{
  list-style: none;
  padding:0;
  width: 50%;

}

li{
  padding:10px;
  font-size:16px;
  background : #f3f3f1;
  margin :5px;
  cursor: pointer;
}

.button{
  outline: none;
  border: none;
 padding:10px;
 font-size:15px;
 background : #ff9900;
 color:white;
 border-radius: 5px;
 cursor: pointer;
}

.button:hover{
  background: #cb851c;
}

button:disabled{
  background: #d8d1d1;
    pointer-events: none;
}

.btn-container{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 50%;
  margin:10px;
}